@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}
ul,li{
  list-style: none;
  margin: 0 ;
  padding: 0;
}
button{
  padding: 5px;
  margin: 5px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgba(254, 218, 119, 1)
 
}

 button:hover {
   transform: scale(1.1);
 }
 input{
  margin: 5px;
  outline: none;
  width: 66%;
 }
 label{
  display: block;
border-radius:4px ;
}